/*Universal*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
}
/*common items*/
article img, footer img{
    border: solid black;
    border-width: 1px;
}
.box{
    border: solid black;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
/*header*/
nav ul{
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    list-style: none;
}
nav ul li{
    border: solid;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#end1 {
    margin-right: 75px;
    width: 50px;
}
#end2{
    margin-left: 75px;
    width: 50px;
}
header section{
    margin-top: 100px;
    margin-bottom: 100px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/*article 1*/
#a1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
#a1 #mainText{
    font-size: 28pt;
    margin-bottom: 30px;
}
#a1 #descText{
    margin-top: 30px;
    margin-bottom: 30px;
}
#a1 img{
    height: 500px;
    width: 900px;
    margin-top: 60px;
    margin-bottom: 60px;
}
/*article 2*/
#a2{
    margin-top:30px;
}
#a2, #a3, #a4{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#a2 img, #a3 img, #a4 img{
    width: 55vw;
    height: 400px;
}
#a2 section,#a3 section,#a4 section{
    width: 45vw;
    height: 400px;
    padding: 100px;
    background: lightgrey;
}
#a2 section h2,#a3 section h2,#a4 section h2{
    margin-bottom: 25px;
}
#a4{
    margin-bottom: 30px;
}
/*footer*/
footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
footer div section{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
footer div #left{
    padding-right: 200px;
}
footer div #right{
    padding-left:100px;
}
#social .box{
    margin-right: 20px;
}
footer div section h4{
    margin-bottom: 30px;
}
footer div section label{
    margin-bottom: 10px;
}
footer div section input[type=text]{
    padding: 0;
    height: 35px;
    width: 300px;
}
footer div section img{
    width: 90px;
    height: 50px;
}
footer section{
    margin-top: 25px;
    margin-bottom: 25px;
}