/*Universal*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;
}
/*common items*/

/*header*/
nav ul{
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    list-style: none;
}
nav ul li{
    border: solid;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#end1 {
    margin-right: 75px;
    width: 50px;
}
#end2{
    margin-left: 75px;
    width: 50px;
}
header section{
    margin-top: 100px;
    margin-bottom: 100px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/*article 1*/
#a1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
#a1 #mainText{
    font-size: 28pt;
    margin-bottom: 30px;
}
#a1 #descText{
    margin-top: 30px;
    margin-bottom: 30px;
}
#a1 #box{
    border: solid black;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
#a1 img{
    height: 800px;
    width: 900px;
    border: solid black;
    border-width: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
}